{% extends 'base.html' %}

{% block title %} BLOG {% endblock %}

{% block content %}
    
    <form method="get">
        <!-- {% csrf_token %} -->
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <hr>
    
    {% if posts %}
    <ol>
        {% for post in posts %}
        <li>
            <a href="{% url 'concrete_post' post_id=post.id %}">{{ post }}</a>
            <hr>
        </li>
        {% endfor %}
    </ol>
    {% else %}
        Nothing found
    {% endif %}

{% endblock %}