{% extends 'base_with_blog_header.html' %}

{% block title %} BLOG {% endblock %}

{% block content %}
    
    <form method="get">
        <!-- {% csrf_token %} -->
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <hr>
    
    {% if posts %}
    <ol>
        {% for post in posts %}
        <li>
            <a href="{% url 'concrete_post' post_id=post.id %}">
                Header - {{ post.header }}
                | Short description - {{ post.short_description }}
                | Categoty - {{ post.category }}
                | Tags - 
                {% for tag in post.tags.all %}
                    {{ tag }}
                {% endfor %}
            </a>
            <hr>
        </li>
        {% endfor %}
    </ol>
    {% else %}
        Nothing found
    {% endif %}

{% endblock %}