<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASE{% endblock %}</title>
</head>
<body>

    <header style="display: flex;">
        <!-- <a href="{% url 'post_list' %}">Post list</a>
        <a href="{% url 'add_post' %}">Add post</a> -->
        {% block header_content %}
        {% endblock %}
    
        <a href="{% url 'user_log_in_out' %}" style="margin-left: auto;">Log in/out</a>
    
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>